.root {
  width: 100%;
  background: #222;
  border-bottom: 1px solid #333;
  padding: 1rem;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  font-family: var(--font-mono);
}

.content a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
  
  &:hover {
    background: #333;
  }
  
  &.active {
    background: #444;
    color: white;
  }
} 